* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    margin: 10px;
}

.logo {
    width: 100px;
}

.home-link {
    text-decoration: none;
}

.navbar p {
    color: rgb(1, 128, 1);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-left: 20px;
    margin-top: 15px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
}

.nav-links li {
    padding: 15px 20px;
}

.nav-links li a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: black;
    padding: 12px 18px;
    border-radius: 5px;
    transition: 0.2s;
}

.nav-links li a:hover {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 160, 0);
    transition: 0.2s;
}

.slogan {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 50px;
}

.founders-section {
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}

.founders-title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.founder-profiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.founder {
    text-align: center; /* Corrected typo */
    padding: 20px;
}

.founder-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 10px;
}

.leaders-section {
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}

.leaders-title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.leader-profiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leader {
    text-align: center; 
    padding: 20px;
}

.tech-head-section {
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}

.tech-head-title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.tech-head-profiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tech-head {
    text-align: center; 
    padding: 20px;
}

.tech-head-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h2 {
    background-color: #388E3C; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: inline-block; 
}

.founders-title h1,
.tech-head-title h1,
.leaders-title h1,
.US-leaders-title h1,
.Co-founders-title h1 {
    font-weight: normal;
}

.US-leaders-section {
    margin-top: 50px;
    padding: 20px;
}

.US-leaders-title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.US-leader-profiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.US-leader {
    text-align: center; 
    padding: 20px;
}

.Co-founders-section {
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}

.Co-founders-title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Co-founders-profiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Co-founders {
    text-align: center; /* Corrected typo */
    padding: 20px;
}

.Co-founders-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .nav-links li {
        padding: 5px;
    }
}

@media (max-width: 750px) {
    .nav-links li a {
        font-size: 15px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .slogan {
        font-size: 40px;
    }
    .founder-info h2,
    .leader-info h2,
    .tech-head-info h2,
    .US-leader-info h2,
    .Co-founders-info h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .nav-links {
        margin-right: -10px;
    }
    .nav-links li a {
        font-size: 13px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .navbar img {
        width: 50px;
        height: 50px;
    }
    .navbar p {
        font-size: 20px;
    }
    .slogan {
        font-size: 30px;
    }
    .founder-profiles,
    .leader-profiles,
    .tech-head-profiles {
        flex-direction: column;
    }
}