body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    margin: 10px;
}

.logo {
    width: 100px;
}

.home-link {
    text-decoration: none;
}

.navbar p {
    color: rgb(1, 128, 1);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-left: 20px;
    margin-top: 15px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
}

.nav-links li {
    padding: 15px 20px;
}

.nav-links li a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: black;
    padding: 12px 18px;
    border-radius: 5px;
    transition: 0.2s;
}

.nav-links li a:hover {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 160, 0);
    transition: 0.2s;
}

.slogan {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 50px;
}

.slogan {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 50px;
}

.contact-header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgb(1, 128, 1);
    margin-top: 50px;
}

.contact-info {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.contact-email {
    font-weight: bold;
}
