* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    margin: 10px;
}

.logo {
    width: 100px;
}

.home-link {
    text-decoration: none;
}

.navbar p {
    color: rgb(1, 128, 1);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-left: 20px;
    margin-top: 15px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
}

.nav-links li {
    padding: 15px 20px;
}

.nav-links li a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: black;
    padding: 12px 18px;
    border-radius: 5px;
    transition: 0.2s;
}

.nav-links li a:hover {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 160, 0);
    transition: 0.2s;
}

h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 50px;
}

.paragraph-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.first-paragraph {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 30px;
    width: 800px;
    line-height: 1.4;
    background-color: rgba(205, 205, 205, 0.7);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
}

.second-paragraph {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    width: 800px;
    line-height: 1.4;
    background-color: rgba(205, 205, 205, 0.7);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    color: black;
}

.second-paragraph p {
    text-align: center;
    margin-bottom: 60px;
    font-size: 35px;
}

.second-paragraph ul {
    list-style-type: circle;
    margin-left: 40px;
}

.second-paragraph li {
    transition: 0.2s;
}

.second-paragraph li:hover {
    scale: 1.01;
    transition: 0.2s;
    list-style-type: disc;
}

.final-message {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 50px;
    background-color: rgba(205, 205, 205, 0.7);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.first-paragraph, .second-paragraph, .final-message {
    transition: 0.4s;
}

.first-paragraph:hover, .second-paragraph:hover, .final-message:hover {
    scale: 1.01;
    transition: 0.4s;
    background-color: rgba(173, 173, 173, 0.7);
}

.gofundme-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.gofundme-container a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    border-radius: 5px;
    color: black;
    background-color: rgb(208, 234, 237);
    transition: 0.2s;
}

.gofundme-container a:hover {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(248, 248, 248);
    transition: 0.2s;
    box-shadow: 2px 2px black;
}

@media (max-width: 1500px) {

}

@media (max-width: 1200px) {
    .nav-links li {
        padding: 5px;
    }
}

@media (max-width: 1000px) {

}

@media (max-width: 750px) {
    .nav-links li a {
        font-size: 15px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width: 600px) {
    .nav-links {
        margin-right: -10px;
    }
    .nav-links li a {
        font-size: 13px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .navbar img {
        width: 50px;
        height: 50px;
    }
    .navbar p {
        font-size: 20px;
    }
}